.section{
    background-color: var(--black);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 100px;

    & h1{
        display: none;
    }

    & .containerProyects{
        width: 1000px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0 10px;
        gap: 10px;
    }
}

@media (max-width: 600px){
    .section{
        .containerProyects{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            grid-template-columns: 1fr;
        }
    }

}