.containerTitle{
    font-size: 30px;
    font-weight: 700;
    display: flex;
    justify-self: center;
    margin-bottom: 15px;
}

.containerStack{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 8;

    & .containerPart{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        gap: 10;
        background-color: rgb(60, 60, 60);
        border: 1px solid #727272;
        padding: 10px;
        border-radius: 14px;
        height: fit-content;

        & h3{
            font-size: 20px;
            font-weight: 600;
            align-self: center;
            margin: 0 0 5px 0;
        }

        & .containerLogo{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10;

        }
    }
}