.containerTitle{
    font-size: 30px;
    font-weight: 700;
    display: flex;
    justify-self: center;
    margin-bottom: 15px;
}

.containerStack{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 10px 20px;
    justify-content: center;

    
}