.containerTitle{
    font-size: 30px;
    font-weight: 700;
    display: flex;
    justify-self: center;
    margin-bottom: 15px;
}

.containerStudies{
    display: flex;
    flex-direction: column;
    gap: 10;

    & .containerTitle{
        display: flex;
        flex-direction: column;
        font-size: 18px;
        font-weight: 400;

        & .studyLevel{
            font-weight: 200;
        }

        & .studyType{
            font-weight: 200;

        }

        & .studyCentre{
            color: gray;
            font-weight: 400;
            font-size: 16px;
        }
    }
}