& .links{
    display: flex;
    flex-direction: row;
    gap: 10;
    align-items: center;
    margin-top: 10px;

    & .buttonDownload{
        display: flex;
        flex-direction: row;
        background-color: var(--blue);
        padding: 8px;
        align-items: center;
        gap: 8;
        border-radius: 15px;
        font-weight: 700;

    }
}