& .links{
    display: flex;
    flex-direction: row;
    gap: 10;
    align-items: center;

    & .buttonDownload{
        display: flex;
        flex-direction: row;
        background-color: var(--blue);
        font-family: var(--geist-mono);
        font-style: italic;
        padding: 8px 16px;
        align-items: center;
        gap: 8px;
        font-weight: 700;

    }
}