.main{
    width: 100%;
    min-height: 100vh;
    background-color: var(--black);
    color: white;
    flex-direction: column;
    font-family: Inter, Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;

    h1{
        display: none;
    }

    & .sectionPhoto {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    & .sectionInfo {
        display: flex;
        font-size: 3.5em;

        & .containerPresentation {
            height: fit-content;
            display: flex;
            flex-direction: column;
            border-radius: 30px;
            padding: 20px;
            gap: 3px;

            & .presentationText {
                font-weight: 600;
            }

            & p{
                margin-top: 10px;
                line-height: 1.4;
                letter-spacing: -0.05em;
            }

            & .highlight {
                background-color: var(--blue);
                padding: 3px 10px;
                font-weight: 600;
            }

            & .midHighlight {
                background-color: var(--light-blue);
                padding: 3px 10px;
                font-weight: 600;
            }
        }

        & .disponibleContainer{
            font-size: .5em;
        }
    }

    & .linksSeparator{
        width: 50px;
        height: 1px;
        background-color: var(--light-gray);
        margin-top: 20px;
        margin-bottom: 15px;
    }

    & .arrowIcon{
        margin-top: 50px;
    }
}

@media (max-width: 600px) {
    .main{
        padding: 0 10px;
        grid-template-columns: 1fr;
        padding-bottom: 70px;

         & .sectionInfo {
            display: flex;
            margin-top: 30px;

            & .containerPresentation {
                width: 100%;
                gap: 30px;
                font-size: .7em
            }
        }

        & .profileImage{
            margin-top: 50px;
        }

    }
}