.main{
    width: 100%;
    min-height: 100vh;
    background-color: var(--black);
    color: white;
    padding: 20px 300px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;

    & .aboutMe{
        position: fixed;
    }
}