.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;

    & h1{
        display: none;
    }

    & .imageContainer{
        height: fit-content;
        max-width: 800px;
        min-width: 300px;
        display: flex;
        justify-content: center;
        margin: 30px 0;

        & .imageMark{
            max-width: 400px;
            min-width: 300px;
            height: 100%;
            background-color: white;
            transform: rotate(-5deg);
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: var(--black);
            padding: 15px ;
            overflow: hidden;

            &  .profilePicture{
                width: 100%;
                object-fit: cover;
                margin: 0 0 10px 0;
            }

            & .photoTextContainer{
                display: flex;
                flex-direction: column;
                align-items: center;

                & p{
                    font-size: 1rem;
                    font-weight: 600;
                }
            }

        }
    }

    .textAboutMe{
        width: 100%;
        text-align: left;

        & .title{
            font-size: 2.5rem;
            font-weight: 800;
            text-align: center;
        }

        & .textoSobreMi{
            margin: 5px 0;
            font-weight: 500;
        }
    }

    

    & .links{
        display: flex;
        flex-direction: row;
        gap: 10;
        align-items: center;
        margin-top: 10px;

        & .buttonDownload{
            display: flex;
            flex-direction: row;
            background-color: var(--blue);
            padding: 8px;
            align-items: center;
            gap: 8;
            border-radius: 15px;
            font-weight: 700;

        }
    }
}

@media (max-width: 1000px){
    .section{
        & .imageContainer{
            & .imageMark{
                width: 30%;
                padding: 10px;
            }
        }

        .AboutMe{
            .textoSobreMi{
                padding: 0 10px;
            }
        }
    }
}

@media (max-width: 600px){
    .section{
        & .imageContainer{
            & .imageMark{
                width: 50%;
                padding: 10px;
            }
        }
    }
}