.infoSection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    padding: 10px;

    & .columna{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}

@media (max-width: 600px){
    .infoSection{
        grid-template-columns: 1fr;
        padding-bottom: 80px;
    }

}