.containerTitle{
    font-size: 30px;
    font-weight: 700;
    display: flex;
    justify-self: center;
    margin-bottom: 15px;
}

.containerLanguajes{
    list-style: circle;

    & li{
        display: flex;
        flex-direction: row;
        align-items: center;

        & span{
            font-weight: 700;
            margin: 0 5px;
        }
    }
}