.containerIndividualLogo{
    position: relative;
    display: flex;
    justify-content: center;

    .imageLogo{
        filter: saturate(0) brightness(1.5) contrast(1.15);
        border-image: 1px solid white;
    }

    .etiquetaTecnologia{
        position: absolute;
        background-color: rgb(47, 47, 47);
        padding: 4px 10px;
        border-radius: 8px;
        z-index: 10;
        border: 1px solid white;
        top: -40px;
        width: fit-content;
    }
}